{% extends 'adminbase.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<script language="JavaScript" type="text/javascript">
    function openWin( windowURL, windowName, windowFeatures) {
        window.open( windowURL, windowName, windowFeatures);
    }
</script>

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>User List Page</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/admin">Home</a></li>
                    <li><i class="fa fa-bars"></i>User</li>
                    <!--<li><i class="fa fa-square-o"></i>İndex</li>-->
                </ol>
            </div>
        </div>
        <!-- page start-->

        <h1>User List Table</h1>
        <div class="col-md-2">
            <a href="{{ path('admin_user_new') }}" class="btn btn-block btn-success">Create new User</a>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Image</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>
                    <img src="{{ asset("uploads/images/" ~ user.image) }}" height="40" width="40">
                </td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-block btn-primary">Show</a>
                </td>
                <td>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-block btn-warning">Edit</a>
                </td>
                <td>
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <!-- page end-->
    </section>
</section>
    <!--main content end-->
{% endblock %}
