 <section id="aa-slider">
            <div class="aa-slider-area">
                <!-- Top slider -->
                <div class="aa-top-slider">
                    {% for rs in slider %}
                        <!-- Top slider single slide -->
                        <div class="aa-top-slider-single">
                            <img src="{{ asset("uploads/images/" ~ rs.image) }}" style="height: 600px" alt="img">
                            <!-- Top slider content -->
                            <div class="aa-top-slider-content">
                                <span class="aa-top-slider-catg">{{rs.title}}</span>
                                <h2 class="aa-top-slider-title">{{rs.description}}</h2>
                                <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>{{rs.city}}</p>
                                <!--<span class="aa-top-slider-off">30% OFF</span> -->
                                <p class="aa-top-slider-price">{{rs.price}}</p>
                                <a href="{{ path('house_show',{'id' :rs.id}) }}" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End slider  -->
<!-- Start slider  -->
