
<!-- Bootstrap CSS -->
<link href="{{ asset('assets') }}/admin/css/bootstrap.min.css" rel="stylesheet">
<!-- bootstrap theme -->
<link href="{{ asset('assets') }}/admin/css/bootstrap-theme.css" rel="stylesheet">
<!--external css-->
<!-- font icon -->
<link href="{{ asset('assets') }}/admin/css/elegant-icons-style.css" rel="stylesheet" />
<link href="{{ asset('assets') }}/admin/css/font-awesome.min.css" rel="stylesheet" />
<!-- full calendar css-->
<link href="{{ asset('assets') }}/admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="{{ asset('assets') }}/admin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
<!-- easy pie chart-->
<link href="{{ asset('assets') }}/admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
<!-- owl carousel -->
<link rel="stylesheet" href="{{ asset('assets') }}/admin/css/owl.carousel.css" type="text/css">
<link href="{{ asset('assets') }}/admin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
<!-- Custom styles -->
<link rel="stylesheet" href="{{ asset('assets') }}/admin/css/fullcalendar.css">
<link href="{{ asset('assets') }}/admin/css/widgets.css" rel="stylesheet">
<link href="{{ asset('assets') }}/admin/css/style.css" rel="stylesheet">
<link href="{{ asset('assets') }}/admin/css/style-responsive.css" rel="stylesheet" />
<link href="{{ asset('assets') }}/admin/css/xcharts.min.css" rel=" stylesheet">
<link href="{{ asset('assets') }}/admin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
<!-- =======================================================
  Theme Name: NiceAdmin
  Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  Author: BootstrapMade
  Author URL: https://bootstrapmade.com
======================================================= -->

<!-- page start-->

<h2>Create new Image</h2>

<div class="col-lg-6">
    <section class="panel">
        <header class="panel-heading">
            Basic Forms
        </header>
        <div class="panel-body">
            <form role="form" name="image" action="{{ path('user_image_new', {'id': id}) }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" id="image_title" name="image[title]" maxlength="50">
                    <input type="hidden" class="form-control" id="image_house" name="image[house]" value="{{ id }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Galery Image Choose File</label>
                    <input class="form-control" type="file" id="image_image" name="image[image]">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </section>
</div>
<!-- page end-->

<h6>House's Images</h6>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.title }}</td>
            <td><img src="{{ asset("uploads/images/" ~ image.image) }}" height="40" width="40"></td>
            <td>
                <form method="post" action="{{ path('user_image_delete', {'id': image.id,'hid': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                    <button class="btn btn-block btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



