{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}

    <script language="JavaScript" type="text/javascript">
        function openWin( windowURL, windowName, windowFeatures) {
            window.open( windowURL, windowName, windowFeatures);
        }
    </script>


    <div class="row">
        <div class="col-md-3">
            {% include('user/usermenu.html.twig') %}
        </div>
        <div class="col-md-9">
            <!-- Start Blog  -->
                </br>
                </br>
                <h1>User House List</h1>
                <div class="col-md-2">
                    <a href="{{ path('user_house_new') }}"class="btn btn-block btn-success">Create new</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Image Gallery</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for house in houses %}
                        <tr>
                            <td>{{ house.id }}</td>
                            <td>{{ house.title }}</td>

                            <td>
                                <img src="{{ asset("uploads/images/" ~ house.image) }}" height="40" width="40">
                            </td>

                            <td>{{ house.address }}</td>
                            <td>{{ house.city }}</td>

                            <td>
                                <a href="javascript:openWin('{{ path('user_image_new', {'id': house.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=900,height=600');">
                                    <img src="{{ asset('assets/admin/img') }}/galeriicon1.png" height="40">
                                </a>
                            </td>

                            <td>{{ house.status }}</td>

                            <td>
                                <a href="{{ path('user_house_show', {'id': house.id}) }}" class="btn btn-block btn-primary">Show</a>
                            </td>
                            <td>
                                <a href="{{ path('user_house_edit', {'id': house.id}) }}" class="btn btn-block btn-warning">Edit</a>
                            </td>
                            <td>
                                {{ include('house/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="14">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
{% endblock %}
