{% extends 'adminbase.html.twig' %}

{% block title %}Category Home Page{% endblock %}

{% block body %}

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/admin">Home</a></li>
                        <li><i class="fa fa-bars"></i>Categori</li>
                        <!-- <li><i class="fa fa-square-o"></i>Pages</li> -->
                    </ol>
                </div>
            </div>

            <h1>Category List Table</h1>
            <div class="col-md-2">
                <a href="{{ path('admin_category_new') }}" class="btn btn-block btn-success">Create new</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Parentid</th>
                    <th>Title</th>
                    <th>Keywords</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.parentid }}</td>
                        <td>{{ category.title }}</td>
                        <td>{{ category.keywords }}</td>
                        <td>{{ category.description }}</td>
                        <td>{{ category.status }}</td>

                        <td>
                            <a href="{{ path('admin_category_show', {'id': category.id}) }}" class="btn btn-block btn-primary">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-block btn-warning">Edit</a>
                        </td>
                        <td>
                            {{ include('admin/category/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </section>
    </section>
    <!--main content end-->
{% endblock %}
